q1/flow/assighment#1.json
{
  "flowContents": {
    "identifier": "579af2c1-3085-3fa5-b965-373a088d583d",
    "name": "assighment#1",
    "comments": "",
    "position": {
      "x": 516.0,
      "y": 202.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "e11e9993-0de1-3bbd-919b-b28f0052c4b8",
        "name": "PutMongoRecord",
        "comments": "",
        "position": {
          "x": 432.0,
          "y": 520.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-mongodb-nar",
          "version": "1.11.4"
        },
        "style": {},
        "type": "org.apache.nifi.processors.mongodb.PutMongoRecord",
        "properties": {
          "mongo-client-service": null,
          "insert_count": "100",
          "Mongo URI": "mongodb://mongoadmin:mongo@de_mongo:27017",
          "ssl-context-service": null,
          "ssl-client-auth": "REQUIRED",
          "Mongo Collection Name": "tweets",
          "record-reader": "cb73cc04-e6aa-3594-8c0e-ac1ac87becd9",
          "Mongo Database Name": "assigment_1",
          "Write Concern": "ACKNOWLEDGED"
        },
        "propertyDescriptors": {
          "mongo-client-service": {
            "name": "mongo-client-service",
            "displayName": "Client Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "insert_count": {
            "name": "insert_count",
            "displayName": "Insert Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Mongo URI": {
            "name": "Mongo URI",
            "displayName": "Mongo URI",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl-context-service": {
            "name": "ssl-context-service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "ssl-client-auth": {
            "name": "ssl-client-auth",
            "displayName": "Client Auth",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Mongo Collection Name": {
            "name": "Mongo Collection Name",
            "displayName": "Mongo Collection Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Mongo Database Name": {
            "name": "Mongo Database Name",
            "displayName": "Mongo Database Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Write Concern": {
            "name": "Write Concern",
            "displayName": "Write Concern",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      },
      {
        "identifier": "fd7d2e00-7340-367b-8597-aef833b951b6",
        "name": "ExecuteSQLRecord",
        "comments": "",
        "position": {
          "x": 444.0,
          "y": 161.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.11.4"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.ExecuteSQLRecord",
        "properties": {
          "sql-pre-query": null,
          "esql-max-rows": "0",
          "esql-output-batch-size": "0",
          "esql-fetch-size": "0",
          "SQL select query": "select * from tweets;",
          "esqlrecord-record-writer": "bbf4bfd6-252d-3113-bdae-2143409a3802",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "c74ae8e5-e509-36fc-94dd-78270cfd6d5b",
          "sql-post-query": null,
          "dbf-user-logical-types": "false",
          "esqlrecord-normalize": "false"
        },
        "propertyDescriptors": {
          "sql-pre-query": {
            "name": "sql-pre-query",
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-max-rows": {
            "name": "esql-max-rows",
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-output-batch-size": {
            "name": "esql-output-batch-size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esql-fetch-size": {
            "name": "esql-fetch-size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SQL select query": {
            "name": "SQL select query",
            "displayName": "SQL select query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esqlrecord-record-writer": {
            "name": "esqlrecord-record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "sql-post-query": {
            "name": "sql-post-query",
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "name": "dbf-user-logical-types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "esqlrecord-normalize": {
            "name": "esqlrecord-normalize",
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "2e53b844-81c7-3d22-bd7c-992b8fa1c06c",
        "name": "",
        "source": {
          "id": "fd7d2e00-7340-367b-8597-aef833b951b6",
          "type": "PROCESSOR",
          "groupId": "579af2c1-3085-3fa5-b965-373a088d583d",
          "name": "ExecuteSQLRecord",
          "comments": ""
        },
        "destination": {
          "id": "e11e9993-0de1-3bbd-919b-b28f0052c4b8",
          "type": "PROCESSOR",
          "groupId": "579af2c1-3085-3fa5-b965-373a088d583d",
          "name": "PutMongoRecord",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "c74ae8e5-e509-36fc-94dd-78270cfd6d5b",
        "name": "DBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.11.4"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.11.4"
            }
          }
        ],
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://de_postgres:5432/postgres",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "https://repo1.maven.org/maven2/org/postgresql/postgresql/42.2.20.jre7/postgresql-42.2.20.jre7.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      },
      {
        "identifier": "bbf4bfd6-252d-3113-bdae-2143409a3802",
        "name": "JsonRecordSetWriter",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.11.4"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.11.4"
            }
          }
        ],
        "properties": {
          "schema-branch": null,
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": null,
          "Date Format": null,
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      },
      {
        "identifier": "cb73cc04-e6aa-3594-8c0e-ac1ac87becd9",
        "name": "JsonTreeReader",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.11.4"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.11.4"
            }
          }
        ],
        "properties": {
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      },
      {
        "identifier": "9ba2323e-8207-3396-97ba-e7fdd25ac23f",
        "name": "MongoDBControllerService",
        "comments": "",
        "type": "org.apache.nifi.mongodb.MongoDBControllerService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-mongodb-services-nar",
          "version": "1.11.4"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.mongodb.MongoDBClientService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-mongodb-client-service-api-nar",
              "version": "1.11.4"
            }
          }
        ],
        "properties": {
          "ssl-context-service": null,
          "ssl-client-auth": "REQUIRED",
          "mongo-uri": "mongodb://mongoadmin:mongo@de_mongo:27017"
        },
        "propertyDescriptors": {
          "ssl-context-service": {
            "name": "ssl-context-service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "ssl-client-auth": {
            "name": "ssl-client-auth",
            "displayName": "Client Auth",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "mongo-uri": {
            "name": "mongo-uri",
            "displayName": "Mongo URI",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "579af2c1-3085-3fa5-b965-373a088d583d"
      }
    ],
    "variables": {},
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0"
}